<div class="uk-margin uk-width-2xlarge uk-margin-auto uk-card uk-card-default uk-card-body uk-box-shadow-large">
        <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-1@s uk-margin" uk-grid>
                <div class="uk-card-header">
                    <div class="uk-grid-small uk-flex-middle" uk-grid>
                        <div class="uk-width-auto">
                            <img class="uk-border-circle" width="40" height="40" src="../images/camper2.png">
                            <p class="uk-text-meta uk-margin-remove-top">{{data.parking.category}}</p>
                        </div>
                        <div class="uk-width-expand">
                            <h3 class="uk-card-title uk-margin-remove-bottom">{{data.parking.name}}</h3>
                            <p class="uk-text-meta uk-margin-remove-top">{{data.parking.user.firstName}} {{data.parking.user.lastName}}</p>
                        </div>
                    </div>
                </div>
                <div class="uk-card-body">
                    <p class= "uk-text-success">{{data.parking.pros}}</p>
                    <p class= "uk-text-danger">{{data.parking.cons}}</p>
                </div>

                <div class="uk-card-footer">
                    <p>{{data.parking.description}}</p>
                </div>
                <div class="uk-container uk-padding-small">
                    <div class="uk-child-width-1-1@s uk-flex uk-flex-center" uk-grid uk-height-match="target: .uk-card">
                        {{> images }}
                    </div>
                </div>
                <div id = "map"></div>
                <script>
                    var map = L.map('map').setView([0,0], 1);
                    L.tileLayer('https://api.maptiler.com/maps/streets/{z}/{x}/{y}.png?key=yWqm74AMhMupReAXYAiE', {
                      atribution: '<a href="https://www.maptiler.com/copyright/" target="_blank">&copy; MapTiler</a> <a href="https://www.openstreetmap.org/copyright" target="_blank">&copy; OpenStreetMap contributors</a>'
                    }).addTo(map);
                </script>
        </div>
</div>
